@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Add User:</h1>
<p>
    <h2>@ViewBag.error</h2>
</p>

<form method='post'>
    Username:
    <br>
    <input type='text' name='name' value='@ViewBag.name'>
    <br>

    Email:
    <br>
    <input type='email' name='email' value='@ViewBag.email'>
    <br>

    Password:
    <br>
    <input type='password' name='password'>
    <br>

    Verify Password:
    <br>
    <input type='password' name='verify'>
    <br>

    <input type='submit' value='Submit'>

</form>